
*{
      font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
        
      }
    
    
      h1{color: white;
    }

    p{
        color: white;
    }
    
.nav-logo{
   height: 200px;
   width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 520px;
    margin-top: 0px;

}

/* hero text area  */